.title {
    font-size: 2.5rem;
    font-weight: bold;
  
    /* Add text shadow to create a 3D effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
    /* Add gradient background for the title */
    background: linear-gradient(45deg, #3498db, #e74c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Add padding to the title to make it look better */
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:cursive;
    text-align: center;
  }

  .form-content{
    font-family:monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .resort-create{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  .front-bottom {
    margin-top: 20px;
    display: flex;
    justify-content:space-between
  }
  
  .front-bottom-item {
    font-family:monospace;
  }
  .form-name{
    font-family:monospace;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form-container {
    display: flex;
    justify-content: center;

  }
  .form{
    justify-content: center;
  }
  .submit{
    margin:20px
  }
  /* .container{
    justify-content: center;
  } */
  .profile-view {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
   }
  .front-top-link{
    display: flex;
    justify-content: space-around;
    font-family: monospace;
  }
.home-view{
  font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.list{
  margin-top: 50px;
  font-family: monospace;
  font-size: 20px;
}
.search-button{
  margin:50px;
  text-align: center;
  align-items: center;
}
.booking-buttom{
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}
.booking-content{
  font-family: monospace;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
.message-button{
  margin-bottom: 10px;
}
.form-width{
  justify-content: center;
  align-items: center;
}